
@{
    ViewBag.Title = "Index";
}

<h2>Drag & Drop file upload </h2>
<div id="dropArea">
    Drop your files here
</div>
<div id="images" class="row"></div>
<h4>Uploaded files : </h4>
<ul class="list-group" id="uploadList"></ul>
<input type="file" multiple id="files" name="files" class="hidden" />

<input type="button" value="submit" onclick="uploadImages()" />

@section Scripts{
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script type="text/javascript">
        var _uploadAction = '@Url.Action("UploadFiles")';
        var _maxFilesCount = '@ViewBag.MaxFilesCount';
        var _maxFileSize = '@ViewBag.MaxFileSize';

    </script>
    <script src="~/Scripts/uploadFiles.js"></script>
}

